{% include 'base.html.twig' %}

<head>
    <link rel="stylesheet" href="{{ asset('css/ready_for_checkout_products.css') }}">
</head>

<div class="col-xs-8 preview-ready-for-checkout-products">
    <h2>Selected for checkout products</h2>
    {% for orderedProduct in orderedProducts %}
        <div class="col-xs-3">

            <label for="product-title-ordered-{{ orderedProduct.id }}"><b>Product Title:</b></label>
            <span class="product-title-ordered-{{ orderedProduct.id }}">
                {{ orderedProduct.product.title }}
            </span>

            <label for="ordered-product-checkout-quantity">Selected Quantity: </label>
            <span class="ordered-product-checkout-quantity-{{ orderedProduct.id }}">
                {{ orderedProduct.quantity }}
            </span>

            <div class="product-image-ordered">
                <img src="/uploads/images/products/{{ orderedProduct.product.image }}" width="100px" height="80px"> <br/>
            </div>

            <div class="range-type-for-order-{{ orderedProduct.id }}">
                <input type="range" min="1" max="{{ orderedProduct.quantity }}" class="slider" id="range-checkout-item-{{ orderedProduct.id }}">
            </div>
        </div>
    {% endfor %}
</div>

<div class="form-group total-check-before-checkout col-xs-1">
    <div class="col-lg-2 user-total-check">
        <b>Cash:</b> ${{ app.user.money }} <br/>
        <b>Orders:</b> ${{ orderedProductsCost }} <br/>
    </div>
</div>

<div class="form-group button-checkout-prepare col-xs-4">
    <button type="button" class="btn btn-primary">Apply Checkout</button>
</div>

<script type="text/javascript">
    var orderIDs  = [];
    var workArray = [];
    $(document).ready(function () {
        $("span[class*='ordered-product-checkout-quantity']").each(function (i, obj) {
            var orderID = $(this).attr('class');
            var splittedIDs = orderID.split("-");
            orderIDs.push(splittedIDs[splittedIDs.length - 1]);
        });

        $(orderIDs).each(function (i, obj) {
            $('#range-checkout-item-' + obj).change(function () {
                $('.ordered-product-checkout-quantity-' + obj).text($(this).val());
            });
        });
    });

    $('.button-checkout-prepare').click(function () {
        $(orderIDs).each(function (i, obj) {
            var trimmedProductTitle = $.trim($('.product-title-ordered-' + obj).text());
            var selectedProductQuantity = $('#range-checkout-item-' + obj).val();
            workArray.push({"title" : trimmedProductTitle, "quantity" : selectedProductQuantity});
        });

        $.ajax({
            'url'     : "/app_dev.php/apply/checkout",
            'type'    : "POST",
            'dataType': "json",
            'data'    : { 'orderedProducts': workArray },
            'complete': workArray = [],
            'success' : function (data) {
                if (data) {
                    window.location = '/app_dev.php/cart/orderedProducts';
                }
            }
        });
    });
</script>