{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
    <h2>Edit Profile</h2>
    <div class="form-group">
        {{ form_widget(form) }}
        <div class="form-group update-profile">
            <div class="col-xs-2">
                <input class="btn btn-success"
                       type="submit"
                       value="{{ 'Update'|trans }}" />
            </div>

            <div class="col-xs-2">
                <a
                    class="btn btn-primary"
                    href="{{ path('fos_user_change_password') }}">Change Password</a>
            </div>
        </div>
    </div>

{{ form_end(form) }}
