{% trans_default_domain 'FOSUserBundle' %}

<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Shopping Cart{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/topnav.css')}}">
</head>
<body>
{% include '::topnav.html.twig' %}

{% if app.user %}
<div class="container">
    <div class="col-lg-3">
        <h1>Shopping Cart</h1>
        <div class="list-group">
            {{ knp_menu_render('AppBundle:MenuBuilder:mainMenu') }}
        </div>
    </div>

    <div class="col-lg-1 money-placement pull-right">
        <span class="money-value">
            <label for="money-content">Cash</label>
            <p class="money-content">${{ app.user.money }}</p>
        </span>
    </div>
{% endif %}
{% block content %}{% endblock %}
{% block javascripts %}{% endblock %}

