{% include '::base.html.twig' %}

<head>
    <link rel="stylesheet" href="{{ asset('css/items.css') }}">
</head>

<div class="header-products-by-category">
    <h2>{{ categoryName }}</h2>
</div>

{% if app.session.flashbag.has('successfully-added-product') %}
    <div class="col-xs-8 alert alert-success successfully-added-product">
        {% for flashMessage in app.session.flashbag.get('successfully-added-product') %}
            {{ flashMessage }}
        {% endfor %}
    </div>
{% endif %}

{% if app.session.flashbag.has('non-successful-added-product') %}
    <div class="col-xs-8 alert alert-danger non-successful-added-product">
        {% for flashMessage in app.session.flashbag.get('non-successful-added-product') %}
            {{ flashMessage }}
        {% endfor %}
    </div>
{% endif %}

{% if app.session.flashbag.has('not-enough-money') %}
    <div class="col-xs-4 alert alert-danger not-enough-money-message-ordering-item">
        {% for flashMessage in app.session.flashbag.get('not-enough-money') %}
            {{ flashMessage }}
        {% endfor %}
    </div>
{% endif %}

{% if app.session.flashbag.has('success') %}
    <div class="col-xs-4 alert alert-success success-message-item-add-to-cart">
        {% for flashMessage in app.session.flashbag.get('success') %}
            {{ flashMessage }}
        {% endfor %}
    </div>
{% endif %}

{% if app.session.flashbag.has('error') %}
    <div class="col-xs-4 alert alert-danger error-message-item-add-to-cart">
        {% for flashMessage in app.session.flashbag.get('error') %}
            {{ flashMessage }}
        {% endfor %}
    </div>
{% endif %}

{% if app.session.flashbag.has('not-enough-quantity-to-order') %}
    <div class="col-xs-4 alert alert-danger not-enough-quantity-to-order">
        {% for flashMessage in app.session.flashbag.get('not-enough-quantity-to-order') %}
            {{ flashMessage }}
        {% endfor %}
    </div>
{% endif %}

{% for key, product in products %}
<div class="col-lg-12 test-style">
    <div class="shop-items col-lg-12">
        <div class="col-lg-3 cart-img">
            <img class="img-responsive"
             src="{{ asset('uploads/images/products/' ~ product.image) }}"
             alt="">
        </div>

        <div class="col-lg-6 card-body">
            <div class="form-group">
                <label for="card-title">Title: </label>
                <span class="card-title">
                    <a href="{{ path('viewProduct', {'viewProductID': product.id}) }}">{{ product.title }}</a>
                </span>
            </div>
            <div class="form-group">
                <label for="card-text">Description: </label>
                <span class="card-text">{{ product.description }}</span>
            </div>

            <div class="form-group">
                <label for="product-price">Price: </label>
                <span class="product-price">${{ product.price }}</span>
            </div>
            <div class="form-group">
                <label for="product-quantity">Quantity: </label>
                <span class="product-quantity">{{ product.quantity }}</span>
            </div>
            <div class="form-group">
                <label for="product-category">Category: </label>
                <span class="product-category">{{ product.category }}</span>
            </div>
            <div class="form-group">
                <label for="product-category">Available: </label>
                {% if product.outOfStock < 1 and product.quantity > 0 %}
                    <span class="product-status">Yes</span>
                {% endif %}
            </div>
            {% if product.promotion|length > 0 %}
                <div class="form-group">
                    <label for="product-promotion">On Active Promotion: </label>
                    <span class="product-promotion">
                    {% for promo in product.promotion %}
                        {% if promo.active == true %}
                            <br/> <b>|</b> -{{ promo }}%
                            <span class="promotion-date-interval">
                                {{ promo.startDate|date("Y-m-d H:i:s") }} - {{ promo.endDate|date("Y-m-d H:i:s") }}
                            </span>
                            <b>|</b> <br/>
                        {% endif %}
                    {% endfor %}
                </span>
                </div>
            {% endif %}
        </div>
        {% if app.user != product.user %}
            <div class="form-group">
                <a href="{{ path('addOrderedProduct', { 'routeParams': product.id }) }}"
                   class="btn btn-primary">Add To Cart</a>
            </div>
        {% endif %}
        <div class="form-group">
            <a href="{{ path('viewProduct', { 'viewProductID': product.id }) }}"
               class="btn btn-success">View Product</a>
        </div>
        {% if is_granted('ROLE_EDITOR') or is_granted('ROLE_ADMIN') %}
            <div class="form-group">
                <a href="{{ path('updateProduct', { 'viewProductID': product.id }) }}"
                   class="btn btn-warning">Update Product</a>
            </div>
            <div class="form-group">
                <a href="{{ path('removeProduct', { 'productID': product.id }) }}"
                   class="btn btn-danger">Delete Product</a>
            </div>
        {% endif %}
    </div>
</div>
{% endfor %}
