{% include '::base.html.twig' %}

{% if app.session.flashbag.has('not-enough-money') %}
    <div class="col-xs-2 alert alert-danger not-enough-money-message-ordering-item">
        {% for flashMessage in app.session.flashbag.get('not-enough-money') %}
            {{ flashMessage }}
        {% endfor %}
    </div>
{% endif %}

{% if app.session.flashbag.has('success') %}
    <div class="col-xs-4 alert alert-success success-message-item-add-to-cart">
        {% for flashMessage in app.session.flashbag.get('success') %}
            {{ flashMessage }}
        {% endfor %}
    </div>
{% endif %}

{% if app.session.flashbag.has('error') %}
    <div class="col-xs-4 alert alert-danger error-message-item-add-to-cart">
        {% for flashMessage in app.session.flashbag.get('error') %}
            {{ flashMessage }}
        {% endfor %}
    </div>
{% endif %}

{% for key, product in products %}
<div class="col-lg-8 test-style">
    <div class="shop-items col-lg-12">
        <div class="col-lg-5 cart-img">
            <img class="img-responsive"
             src="{{ asset('uploads/images/products/' ~ product.image) }}"
             alt="">
        </div>

        <div class="col-lg-7 card-body">
            <div class="form-group">
                <label for="card-title">Title: </label>
                <span class="card-title">
                    <a href="#">{{ product.title }}</a>
                </span>
            </div>
            <div class="form-group">
                <label for="card-text">Description: </label>
                <span class="card-text">{{ product.description }}</span>
            </div>

            <div class="form-group">
                <label for="product-price">Price: </label>
                <span class="product-price">${{ product.price }}</span>
            </div>
            <div class="form-group">
                <label for="product-quantity">Quantity: </label>
                <span class="product-quantity">{{ product.quantity }}</h3></span>
            </div>
        </div>
        <div class="form-group">
            <a href="{{ path('addOrderedProduct', { 'routeParams': product.id }) }}"
                    class="btn btn-primary">Add To Cart</a>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
{% endfor %}
