{% include 'base.html.twig' %}

<head>
    <link rel="stylesheet" href="{{ asset('css/grid-ordered-products.css') }}">
</head>

{% if app.session.flashbag.has('non-existing-bought-products') %}
    <div class="col-xs-4 alert alert-info non-existing-bought-products">
        {% for flashMessage in app.session.flashbag.get('non-existing-bought-products') %}
            {{ flashMessage }}
        {% endfor %}
    </div>
{% endif %}

{% if app.session.flashbag.has('successfully-sell-product') %}
    <div class="col-xs-8 alert alert-success successfully-sell-product">
        {% for flashMessage in app.session.flashbag.get('successfully-sell-product') %}
            {{ flashMessage }}
        {% endfor %}
    </div>
{% endif %}

{% if app.session.flashbag.has('successfully-removed-ordered-bought-product') %}
    <div class="col-xs-4 alert alert-success successfully-removed-ordered-bought-product">
        {% for flashMessage in app.session.flashbag.get('successfully-removed-ordered-bought-product') %}
            {{ flashMessage }}
        {% endfor %}
    </div>
{% endif %}

{% if app.session.flashbag.has('failed-removed-ordered-bought-product') %}
    <div class="col-xs-4 alert alert-info failed-removed-ordered-bought-product">
        {% for flashMessage in app.session.flashbag.get('failed-removed-ordered-bought-product') %}
            {{ flashMessage }}
        {% endfor %}
    </div>
{% endif %}

{% if grid is not null %}
    <div class="col-lg-12 ordered-product-items">
        <h2>Bought items by: {{ app.user.username }}</h2>
        {{ grid(grid) }}
    </div>
{% endif %}