{% include 'base.html.twig' %}

<head>
    <link rel="stylesheet" href="{{ asset('css/items.css') }}">
    <script src="{{ asset('js/bootstrap-slider/bootstrap-slider.js') }}"></script>
    <link rel="stylesheet" href="{{ asset('js/bootstrap-slider/css/bootstrap-slider.css') }}">
</head>

{% if app.session.flashbag.has('failed-updating-bought-product') %}
    <div class="col-xs-8 alert alert-danger failed-updating-bought-product">
        {% for flashMessage in app.session.flashbag.get('failed-updating-bought-product') %}
            {{ flashMessage }}
        {% endfor %}
    </div>
{% endif %}

{% if app.session.flashbag.has('successfully-updated-bought-product') %}
    <div class="col-xs-4 alert alert-success successfully-updated-bought-product">
        {% for flashMessage in app.session.flashbag.get('successfully-updated-bought-product') %}
            {{ flashMessage }}
        {% endfor %}
    </div>
{% endif %}

<div class="col-lg-12 update-bought-user-product">
    <h2 class="update-bought-product-on-user-header">Product Owned By: {{ orderedProduct.user.username }} </h2> <br/>
    <div class="form-group">
        <div class="img-responsive bought-product-image">
            <img class="bought-product-image-response" src="{{ asset('uploads/images/products/' ~ orderedProduct.product.image) }}">
        </div>
    </div>
    <div class="form-group">
        <label for="bought-product-title">Product Title: </label>
        <span class="bought-product-title">{{ orderedProduct.product.title }}</span>
    </div>
    <div class="form-group">
        <label for="bought-product-price">Product Price: </label>
        <span class="bought-product-title">${{ orderedProduct.product.price }}</span>
    </div>
    {{ form_start(form, {
        'action': path('updateBoughtProductOnUser', {'orderedProductID': orderedProduct.id}),
        }
    )
    }}

    <div class="update-bought-product-from-user-form-widget col-lg-12">
        {{ form_widget(form) }}
    </div>
</div>